

.button-container {
    button {
        background-color: #35919B;
        color: #ffffff;
        font-size: 1.3rem;
        border-radius: 50px;
        border-style: none;
        padding: 1rem 2rem;
    }
    button:hover {
        background-color: #372E71;
        color: #ffffff;    
    }
}