.navigation-container {
    display: flex;
    width: 25%;
    gap: 4rem;
    justify-content: space-between;
    padding: 3rem 0 0 11rem;
    position: fixed;
    font-size: 1.2rem;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    a:hover {
        color: #26BFC6;
    }
}