.navigation-container {
    display: flex;
    width: 25%;
    gap: 4rem;
    justify-content: space-between;
    padding: 3rem 0 0 11rem;
    position: fixed;
    font-size: 1.2rem;

    // mobile device screen size 
    @media (min-width:481px) and (max-width: 768px) { 
        padding: 0;
        gap: 0;
        width: 100%;
        justify-content: space-evenly;
        
    }

    a {
        text-decoration: none;
        color: #ffffff;
        @media (min-width:481px) and (max-width: 768px) { 
            padding: 2rem 1rem;
        }
    }
    a:hover {
        color: #26BFC6;
    }
}