

.skills-container {
    width: 100%;
    padding: 15rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    .skills-lang-icons-img {
        width: 80%;   
        margin: 0 auto;

    }
    .accent {
        color: #26BFC6;
    }
    h2 {
        font-size: 4rem;
        font-weight: 900;
    }
}
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) { 
    .skills-container {
        padding: 0 0 5rem 0;
    }
}
@media (max-width: 768px) {
    .skills-container {
        padding: 5rem 0;      
        .skills-lang-icons-img {
            width: 80%;
            padding: 0 1rem;
            
        }
    }

} 