

.skills-container {
    padding: 15rem;
    text-align: center;
    .skills-lang-icons-img {
        width: 80%;
    }
    .accent {
        color: #26BFC6;
    }
    h2 {
        font-size: 4rem;
        font-weight: 900;

    }
}