.project-list-container {
    text-align: center;
    h2 {
        font-size: 2.5rem;
        font-weight: 900;
        width: 100%;
    }
    .accent {
        color: #26BFC6;
    }
    .project-list-items-container {
        padding: 2rem 0 0 0;
        display: flex;
        justify-content: space-around;
        min-height: 20rem;
        a {
            display: flex;
            width: 16rem;
            flex-direction: column;
            text-decoration: none;
            font-size: 1.2rem;
            color: #ffffff;
            img {
                height: 11rem;
            }
        }
        a:hover {
            color: #26BFC6;
            font-size: 1.3rem;
            img {
                height: 11.5rem;
            }
        }

        
  
    }
    
    
}

@media (min-width:481px) and (max-width: 768px) {
    .project-list-container {
        h3 {
            font-size: 1.3rem;
        }
        .project-list-items-container {
            a {
                img{
                    height: 5rem;
                }
            }
            a:hover {
                img {
                    height: 5.1rem;
                }
            }
        }
    }
   
}
    