.contacts-container {
    text-align: center;
    padding: 15rem 0;
    margin: 0 auto;
    width: 100%;

    .contact-container-wrapper{
        padding: 10rem 0;
        display: flex;
        justify-content: space-around;
        a {
            text-decoration: none;
            color: #ffffff;
            .contact-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 11rem;
                width: 11rem;
                gap: 1rem; 
                img {
                    height: 9rem;
                    width: 9rem;
                }
                .contact {
                    font-size: 1.5rem;
                }

            }
        }
        a:hover {
            color: #26BFC6;
            .contact-container {
                img {
                    height: 9.4rem;
                    width: 9.4rem;
                }
            }

        }

        .contact-container:hover {
            font-size: 2rem;
        }
    }
    h2 {
        font-size: 4rem;
        font-weight: 900;
    }

    .accent {
        color: #26BFC6;
    }
}

@media (max-width: 768px) {
    .contacts-container {
        padding: 3rem 0;
        .contact-container-wrapper{
            flex-direction: column;
            gap: 2rem;
            align-items: left;
            justify-content: center;
            padding: 1rem 0;
            a {
                .contact-container {
                    height: 5rem;
                    padding: 0 0 0 3rem;
                    flex-direction: row;
                    img {
                        height: 4rem;
                        width: 4rem;
                    }
                    .contact {
                        font-size: 0.8rem;
                    }
                }
            }
            a:hover {
                .contact-container {
                    img {
                        height: 4.4rem;
                        width: 4.4rem;
                    }
                    .contact {
                        font-size: 1rem;
                    }
                }
    
            }

        }       
    }

} 