.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    .header-section-wrapper-container {
        background-color: #2a2c6c;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        align-items: center;
        gap: 3rem;
        h1 {
            font-size: 5rem;
        }
        h2 {
    
            font-size: 2rem;
            font-weight: 300;
        }
        .accent {
            color: #26BFC6;
        }
        .bold-emphasis {
            font-weight: bold;
        }
        .header-img-container{
            img {
                height: 37rem;
            }
        }
        .header-text-container {
            .header-description {
                width: 20rem;
                font-size: 1.2rem;
                line-height: 2rem;
            }
            padding: 2rem 0;
        }

    }
}
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) { 
    .header-container {
        // min-height: 100%;
        padding: 8rem 0;
        .header-section-wrapper-container {

            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 1.5rem;
                font-weight: 300;
            }
            .header-img-container{
                img {
                    max-height: 20rem;
                }
            }
            .header-text-container {
                .header-description {
                    width: 20rem;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
                padding: 2rem 0;
            }
        }
    }
    
}
@media (max-width: 768px) { 
    .header-container {
        .header-section-wrapper-container  {
            gap: 0;
            h2 {
                font-size: 1.5rem;
            }
            .header-text-container {
                padding: 2rem;

            }
            .header-img-container {
                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}





